* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #170808;
  font-family: "Raleway", sans-serif;
  background-image: url(./assets/traditional-bg.jpg);
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
span {
  margin: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease-in-out;;
}
a:hover {
  text-decoration: none;
  color: #b88f29;

}
.main {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0;
  display: inline-block;
}
.parent {
  align-items: center;
  justify-content: center;
  margin: 20px;
  align-items: center;
}
title-inner {
  width: 100vw;
  max-width: 100%;
}
.img-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/* HOME */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: block;
  align-items: center;
  height: 100vh;
}

.content .textbox {
  max-width: 800px;
  left: 5%;
}

.content .textbox h2 {
  color: #eeeade;
  font-size: 4em;
  line-height: 1em;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.textbox h2#ger {
  color: rgb(205, 174, 108);
  font-size: 30px;
  line-height: 1em;
  font-weight: 500;
  margin-left: 400px;
  font-family: "Playfair Display", serif;
}

.content .textbox h2 span {
  color: rgb(225, 228, 196);
  font-size: 1rem;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}

.content .textbox p {
  color: rgb(225, 228, 196);
}

.textbox button#btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: rgb(205, 174, 108);
  font-family: "Montserrat", sans-serif;
  border: none;
  color: black;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.25s;
  padding: 15px;
}
button#btn:hover {
  background-color: rgb(132, 107, 55);
  transform: scale(0.985);
}
.imgBox {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-top: 50px;
}

.imgBox img {
  max-width: 600px;
  margin-left: 300px;
  margin-bottom: 30px;
  height: 550px;
}
.description {
  color: #eeeade;
  width: 100%;
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.description li {
  display: inline;
  margin-right: 3.5%;
}
/* Navigation Bar */
.top-bar {
  margin: 0px;
  backdrop-filter: blur(20px);
  background-color: #640201;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  align-items: center;
  height: 100px;
  z-index: 1;
}
.header {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: -1px;
  width: 100vw;
  max-width: 100%;
}
.header-title {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 400;
  color: #eeeade;
}
.main-1 {
  transition: margin-left 0.5s;
  padding: 16px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #280606;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #eeeade;
  display: block;
  transition: 0.3s;
  top: 0;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* STACKS */
.bg {
  background-color: #eeeade;
  position: relative;
  width: 100vw;
  max-width: 100%;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-219%, -50%);
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  color: #eeeade;
  z-index: 5;
}
.child-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  color: #eeeade;
  z-index: 5;
}
.child-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(200%, -50%);
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  color: #eeeade;
  z-index: 5;
}
span {
  color: #eeeade;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}
/* [1] The container */
.cards {
  display: flex;
  align-items: center;
  margin: 20px;
  max-width: 100%;
  width: 337.5px;
  height: 400px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

/* Colorize-zoom Container */
.cards--colorize img {
  transition: filter 0.5s ease-in-out;
  filter: grayscale(100%) blur(1px);
}
.cards--colorize:hover img {
  filter: blur(0px) brightness(100%);
  filter: grayscale(0%) blur(0px);
}
